<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bug Tracker</title>



  </head>


  <body>

    <div class="sidenav">
      <div class="fa fa-user profileimg" style="font-size:30px" > Bob25</div>
      <br>
      <a href="index.html"><div class="fa fa-flag" style="font-size:30px"></div> Dashboard</a>
      <br>
      <br>
      <a href="./projectspage.html"><div class="fa fa-file-code-o" style="font-size:30px"></div> Projects</a>
      <br>
      <br>
      <a href="./bugpage.html"><div class="fa fa-bug" style="font-size:24px"></div> Bugs</a>
      <br>
      <br>
      <a href="./timesheetpage.html"><div class="fa fa-calendar" style="font-size:30px"></div> Timesheets</a>
      <br>
      <br>
      <a href="./settingpage.html"><div class="fa fa-cog fa-spin" style="font-size:30px"></div> Settings</a>
    </div>

    <div class="main" >

      <div class="">

        <span style="font-size:25px;">Logged in as:</span> <b><span style="color:#31A811;"> Admin</span></b>
        <br>
        <br>



        <div class="" style="" > <canvas id="myChart2" style="width:100%;max-width:600px"></canvas> </div>
        <div class="" style="" > <canvas id="myChart3" style="width:100%;max-width:600px"></canvas> </div>

        <br>
        <br>
        <div class="" style="" > <canvas id="myChart1" style="width:100%;max-width:600px"></canvas> </div>
        <div class="" style="" > <canvas id="myChart4" style="width:100%;max-width:600px"></canvas> </div>

      </div>



    </div>
<!--
      <div class="" id="projectspage">
        Projects
      </div>

      <div class="" id="bugpage">
        Bugs
      </div>

      <div class="" id="timesheetpage">
        TimeSheet
      </div>

      <div class="" id="settingpage">
        Settings
      </div> -->
    </div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="script.js"></script>
  </body>




</html>
